* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили */
body,
html {
  font-family: "Work Sans", sans-serif !important;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
.background-image {
  max-width: 100%;
  height: auto;
}

.highlight {
  color: #b3b3b3;
}

/* Улучшенная стилизация элементов, используя переменные и классы Bootstrap */
:root {
  --bs-primary: white; /* Переопределение основного цвета Bootstrap */
}

.navbar {
  position: relative;
  padding: 10px 0; /* Уменьшенные вертикальные отступы для полос */
  background: #141414;
}

.navbar-brand img {
  max-height: 50px; /* Убедитесь, что лого не станет слишком большим */
}

.navbar .navbar-text {
  color: #fff; /* Белый текст для номера телефона */
}

.nav-link {
  color: #ccc !important; /* Цвет ссылок */
}

.nav-link:hover {
  color: #fff !important; /* Цвет ссылок при наведении */
}

.bi-telephone-fill {
  margin-right: 10px; /* Отступ для иконки телефона */
}

.header-stripes::before,
.header-stripes::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
  z-index: 1;
}

.text-white {
  background: #141414;
}

.header-stripes::before {
  top: 10px; /* Положение над блоком */
}

.header-stripes::after {
  bottom: 10px; /* Положение под блоком */
}
/* Медиа-запросы для адаптивности уже встроены в Bootstrap */

/* Геройский баннер */
.hero {
  background: url("../assets/images/background.png") no-repeat center center /
    cover;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
}

.hero-content {
  display: flex;
  justify-content: space-between; /* This spreads the text and button apart */
  align-items: center; /* Align items vertically */
}

#buy-form,
#consult-form {
  min-height: 500px; /* Ensures each form has the same minimum height */
}

.contact-form {
  display: flex;
  flex-direction: column;
  background: #141414;
  padding: 20px;
  border-radius: 5px;
  color: white;
  width: 100%; /* Ensure the form uses the full width of the column */
  min-height: 500px; /* Set a minimum height to ensure consistency */
  height: auto; /* Ensure it can grow beyond the minimum height if needed */
  overflow: hidden; /* Hide overflow content */
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for 1st row */
  gap: 10px;
}

.grid-form .full-width {
  grid-column: 1 / -1; /* Makes the element span all columns */
}

.form-tabs {
  margin-bottom: 1rem;
  position: relative;
}

.form-header h2,
.form-header p,
.form-tabs {
  grid-column: 1 / -1; /* Span across all columns for full width */
}

.form-header h2 {
  margin-bottom: 0.5rem;
}

.form-header p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: gray; /* Lighten the description text */
}

.form-content {
  display: none; /* Initially hide all form contents */
  flex-direction: column;
  height: 100%; /* Fill the parent's height */
  justify-content: space-between; /* Distribute space if there's less content */
}

.form-content.show {
  display: flex; /* Show the active form */
}

.content-left {
  flex: 2; /* Flex-grow to take necessary space */
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

.btn-check-inventory {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em; /* Установите фиксированную ширину */
  aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 для создания круга */
  color: white;
  border: 2px solid #ff5a00;
  font-size: 1em; /* Размер шрифта */
  cursor: pointer;
  border-radius: 50%; /* Скруглённые углы */
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
  overflow: hidden;
  z-index: 1;
}

.btn-check-inventory::before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: calc(100% + 1em); /* Немного больше, чем основной размер кнопки */
  height: calc(100% + 1em); /* Немного больше, чем основной размер кнопки */
  border: 2px solid #ff5a00;
  border-radius: 50%;
  z-index: -1;
}

.btn-check-inventory::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  z-index: -1;
}

.btn-check-inventory:hover {
  background-color: rgba(255, 90, 0, 0.5);
  color: white;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
}

/* Стили для планшетов */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }
  .navbar ul {
    flex-direction: column;
  }
}

/* Стили для мобильных устройств */
@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }
  .navbar ul {
    flex-direction: column;
    padding: 0;
  }
  .navbar .logo {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .contact-form {
    width: 33.333%; /* Чтобы занимала 1/3 на больших экранах */
  }
}

@media (max-width: 991px) {
  .hero {
    flex-direction: column;
  }
  .contact-form {
    width: 100%; /* Занимает 100% ширины на меньших экранах */
    margin-left: 0;
    margin-top: 20px; /* Вертикальный отступ между колонками */
  }
}

.form-content {
  display: grid;
  gap: 10px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row input,
.form-row select {
  padding: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.form-content select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background: none; /* Темный фон для полей ввода */
  color: gray; /* Изначально серый текст */
  border: 1px solid #6CFFFD66; /* Немного контраста */
  box-shadow: none; /* Убрать тени */
}

.form-content input[type="text"],
.form-content input[type="tel"],
.form-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background: none; /* Темный фон для полей ввода */
  color: white; /* Белый текст */
  border: 1px solid #6CFFFD66; /* Немного контраста */
  box-shadow: none; /* Убрать тени */
}


.form-content select:valid {
  color: white; /* Белый цвет текста, когда значение выбрано */
}
.form-content .submit-btn {
  width: 100%;
  background-color: orange;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Стиль для необязательных полей, когда они выбраны */


.form-content .submit-btn:disabled {
  background-color: #ccc; /* Gray color */
  color: #666;
  cursor: not-allowed;
}

/* Styles for the form rows */
.form-row .lang-select {
  flex: 0 0 60px; /* Set a fixed width for the language select */
}

.form-content select.optional:placeholder-shown {
  color: gray !important; /* Приоритет для серого цвета текста */
}


/* Стили для необязательных полей, когда они выбраны */
.form-content select.optional:not(:placeholder) {
  color: white !important; /* Приоритет для белого цвета текста */
}

/* Optional styling for the flag icons in the select dropdown */
.form-row .lang-select option {
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px; /* Add padding to the left to avoid text overlapping the flag */
}

/* Styles for the social links */
.social-links img {
  width: 30px; /* Unified icon size */
  margin-right: 10px; /* Right margin for icons */
}

.social-links svg {
  fill: white; /* Set fill color for icons */
  transition: fill 0.3s; /* Smooth color transition on hover */
}

.social-links a:hover svg {
  fill: orange; /* Hover color */
}

/* Styles for the form tabs */
.tab-btn {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  height: 50px; /* Fixed height */
  line-height: 30px; /* Align text vertically */
  width: 100px;
}

.tab-btn.active {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(5, 6, 6, 0.15) 100%
  );
  color: #fff; /* Active tab text color */
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%; /* Equal to half of parent width since there are two tabs */
  height: 2px;
  background-color: #ff5a00;
  transition: left 0.3s ease;
}

.tab-btn:first-child.active ~ .tab-indicator {
  left: 0;
}

.tab-btn:last-child.active ~ .tab-indicator {
  left: 50%; /* Move the indicator to under the second tab */
}

.btn-check-inventory {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 146px;
  color: white;
  border: 2px solid #ff5a00;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
  overflow: hidden;
  z-index: 1;
}

.btn-check-inventory::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 156px;
  height: 156px;
  border: 2px solid #ff5a00;
  border-radius: 50%;
  z-index: -1;
}

.btn-check-inventory::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  z-index: -1;
}

.btn-check-inventory:hover {
  background-color: rgba(255, 90, 0, 0.5);
  color: white;
}


/* Hero Banner END */ 

/* Дополнительные стили, если необходимо */
.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.col-lg-8 {
  padding: 20px;
}
.premium-section {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: left;
}

.premium-section h2 {
  padding: 20px;
  font-size: 54px;
  margin-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: start; /* Адаптация выравнивания для различных начал столбцов */
}

.feature-column-left,
.feature-column-right {
  display: flex;
  flex-direction: column;
}

.feature-column-left {
  margin-top: 150px; /* Отступ сверху для смещения вниз */
}

.feature {
  display: flex;
  align-items: center; /* Центрирование содержимого элемента */
  margin-bottom: 30px; /* Отступ между элементами */
  padding: 20px;
  border-radius: 8px;
}

.feature img {
  width: 150px; /* Set the initial width for all images */
  height: 150px; /* Set the initial height for all images */
  margin-right: 15px; /* Spacing between image and text */
  border-radius: 50%;
  object-fit: cover;
}

.feature-column-left .feature:nth-child(1) img {
  transform: scale(1); /* Увеличиваем первое изображение */
}

.feature-column-left .feature:nth-child(2) img {
  transform: scale(0.8); /* Уменьшаем второе изображение */
}

.feature-column-right .feature:nth-child(1) img {
  transform: scale(1.1); /* Уменьшаем третье изображение */
}

.feature-column-right .feature:nth-child(2) img {
  transform: scale(0.9); /* Уменьшаем четвертое изображение */
}

.feature-info {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.feature-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.feature-info p {
  font-size: 16px;
}

.advantages-section {
  display: flex;
  align-items: flex-start;
  padding: 50px;
  background-color: #f5f5f5;
}

.advantage-title {
  color: #000;
}

.advantage-description {
  color: #000;
}

.advantage-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем отступ слева */
}

.advantage-list li {
  font-size: 18px; /* Установите желаемый размер шрифта для текста списка */
  color: #333; /* Цвет текста списка */
  /* ...другие стили... */
}

.advantage-number {
  font-weight: bold; /* Делает шрифт жирным */
  font-size: 22px; /* Устанавливает размер шрифта для чисел больше, чем у остального текста */
}

.left-block {
  width: 50%;
  padding-right: 50px;
}

.right-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
}

.tile-title {
  font-size: 18px; /* Меньший размер для заголовка */
  margin: 0;
  padding-top: 10px; /* Добавляем небольшой отступ сверху */
  color: #ffff;
}

.tile-text {
  font-size: 14px; /* Меньший размер для текста */
  margin: 0;
  align-self: center;
  padding-bottom: 10px; /* Добавляем небольшой отступ снизу */
  color: #ffff;
}

.tile-long {
  flex-basis: calc(66% - 20px);
  background-size: cover;
  background-position: center;
}

.tile-square {
  flex-basis: calc(33% - 20px);
  background-size: cover;
  background-position: center;
}

.left-block {
  width: 50%;
  padding-right: 50px;
}

.right-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

/* Interactive Block */

.interactive-block {
  position: relative;
  margin: 40px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interactive-block p {
  font-size: 54px;
  font-weight: bold;
  margin: 20px 0;
  position: relative; 
}

.b2b-deals-text, .b2b-pricing-text {
  position: relative;
  width: 50%;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  white-space: normal;
  text-align: left;
  display: block;
}

.deal-highlight-wrapper, .pricing-highlight-wrapper {
  position: relative;
}

.b2b-deals-highlight, .b2b-pricing-highlight {
  color: #D9D9D9;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.b2b-deals-highlight:hover, .b2b-pricing-highlight:hover {
  color: #FF5A00;
}

.b2b-deals-highlight:hover ~ .b2b-deals-text,
.b2b-pricing-highlight:hover ~ .b2b-pricing-text {
  opacity: 1;
}

.test-drive-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

.test-drive-text {
  font-size: 16px;
  margin-right: 10px;
}

.arrow-icon {
  margin-top: 55px;
  width: 123px;
  height: 100px;
  margin-left: 10px;
}

.btn-test-drive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 146px;
  color: white;
  background-color: #000;
  border: 2px solid #ff5a00;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
}

.btn-test-drive::before,
.btn-test-drive::after {
  position: absolute;
  width: 156px;
  height: 156px;
  border: 2px solid #ff5a00;
  border-radius: 50%;
  z-index: -1;
}

.btn-test-drive::before {
  top: -5px;
  left: -5px;
}

.btn-test-drive::after {
  top: 0;
  left: 0;
  background: inherit;
  backdrop-filter: blur(10px);
}

.btn-test-drive:hover {
  background-color: rgba(255, 90, 0, 0.5);
  color: white;
}

/* Interactive Block */

/* Galery */

.vehicle-gallery {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 0.001) 0.001%,
    #141414 60%
  );
  color: #fff;
  padding: 20px;
  position: relative;
}

.vehicle-gallery h2 {
  font-size: 54px;
}

.vehicle-gallery p {
  font-size: 16px;
  line-height: 1.6;
  margin: 5px auto;
  padding: 0;
  width: 500px;
  text-align: center;
}

.gallery-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.gallery-slider {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-item .info-panel {
  position: relative; /* Ensure relative positioning for absolute positioning of children */
  padding: 10px;
  border-radius: 0 0 10px 10px;
  height: 100px; /* Maintain fixed height for uniformity */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  background-color: #ffffff; /* White background for better readability */
}

.more-info-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration: underline;
  color: #6c757d; /* Bootstrap's gray color */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase; /* Converts text to uppercase */
}
.more-info-link:hover {
  text-decoration: none; /* Optional: Remove underline on hover */
  color: #5a6268; /* A slightly darker gray for hover */
}

.gallery-item {
  width: 430px; /* Width corrected to 430px */
  height: 360px; /* Height remains 360px */
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensures no overflow outside the boundaries */
}

.gallery-item img {
  width: 100%;
  height: 260px; /* Adjusted to fit the new height constraint while keeping the info panel height */
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0; /* Rounds only the top corners */
}

.info-panel {
  background-color: white;
  color: black;
  text-align: left;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  height: 100px; /* Maintain fixed height for uniformity */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
}

.gallery-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.gallery-controls span {
  font-size: 18px;
  color: white;
}

/* Galery */

/* Modal */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное позиционирование */
  left: 0;
  top: 0;
  width: 100%; /* Ширина всего экрана */
  height: 100%; /* Высота всего экрана */
  overflow: hidden; /* Убираем возможность прокрутки */
  z-index: 1000; /* Убедитесь, что модальное окно находится над остальными элементами */
}

.modal-content {
  position: absolute; /* Позиционируем относительно модального окна */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем контент */
  width: 100%; /* Используем всю ширину */
  height: 100%; /* Используем всю высоту */
  padding: 20px; /* Отступы внутри контента */
  background: #000000 !important;
  box-sizing: border-box; /* Учитываем паддинги в ширине и высоте */
  display: flex; /* Flexbox для внутренней структуры */
  flex-direction: column; /* Элементы в колонку */
  color: white;
}

.modal-body {
  display: flex;
  flex: 1;
  color: white;
}

.gallery {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image-container {
  position: relative;
  width: 100%; /* Занимает всю ширину своего родителя */
  height: auto; /* Высота автоматически соответствует содержимому */
}

.main-image-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.main-image-container, .thumbnails-container {
  width: 100%;
  height: 50%; /* Задаем равную высоту для контейнеров */
}

.main-image {
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.thumbnails {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.thumbnail {
  flex: 1; /* Каждая миниатюра занимает равное пространство */
  margin: 5px; /* Отступы вокруг миниатюры */
}

.thumbnail img {
  width: 100%; /* Ширина изображения подгоняется под контейнер */
  height: 100%; /* Высота изображения подгоняется под контейнер */
  object-fit: cover; /* Подгонка изображения без потери пропорций */
}

.thumbnails-container .thumbnail-row {
  display: flex;
  justify-content: space-between; /* Равномерно распределяет миниатюры по доступной ширине */
}

.thumbnail-row {
  display: flex; /* Включаем флексбокс для ряда */
  height: 50%; /* Каждый ряд занимает половину высоты thumbnails-container */
}

.gallery,
.info {
  flex: 1; /* Каждый из этих блоков занимает половину горизонтального пространства в .modal-body */
}

.gallery-prev,
.gallery-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  outline: none;
}
.gallery-prev:hover,
.gallery-next:hover {
  color: white; /* Цвет стрелки при наведении */
}


.gallery-prev {
  left: 10px;
}

.gallery-next {
  right: 10px;
}

.info {
  width: 40%;
  overflow-y: auto;
  padding-left: 20px;
  box-sizing: border-box;
}

.info h1 {
  text-align: center; /* Центрирование заголовка */
  margin-bottom: 20px; /* Отступ снизу для заголовка */
}


.specs {
  list-style: none; /* Убираем стандартные маркеры списка */
  padding: 0;
  margin: 0 0 20px 0; /* Отступы вокруг списка характеристик */
}

.specs li {
  display: flex;
  justify-content: space-between; /* Распределяем содержимое между началом и концом элемента */
  margin-bottom: 10px; /* Отступ между элементами списка */
  border-bottom: 1px solid #eee; /* Добавляем тонкую линию под каждым элементом */
}

.specs span {
  font-weight: bold; /* Сделаем название характеристики жирным */
}

.close {
  position: absolute; /* Абсолютное позиционирование внутри .modal-content */
  top: 10px; /* Отступ сверху */
  right: 10px; /* Отступ справа */
  color: #ff5a00; /* Белый цвет крестика для видимости на тёмном фоне */
  font-size: 28px; /* Размер шрифта крестика */
  font-weight: bold; /* Жирность шрифта */
  cursor: pointer; /* Курсор в виде руки при наведении */
}

.close:hover {
  color: #aaa; /* Светлый цвет крестика при наведении для контраста */
}

.contact-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-btn.telegram {
  background-color: #ff5a00;
}

.contact-btn.whatsapp {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #ff5a00;
  border-radius: 4px;
}

/* Modal */

.consultation-block {
  position: relative; /* Относительное позиционирование для позиционирования фона */
  background-color: #fff; /* Фоновый цвет */
  color: white; /* Цвет текста */
  padding: 40px 20px; /* Отступы вокруг содержимого */

}

.consultation-content {
  max-width:60%; /* Максимальная ширина контента */
  margin: 0 auto; /* Центрирование контента */
  
}

.consultation-block h2 {
  margin: 0;

}

.consultation-text {
  color: #000;
  font-size: 54px;
  font-weight: bold; /* Жирный текст */
  text-align: center;
}

.consultation-text span {
  color: #ff5a00;
}

.centered-text {
  color: #000;
  font-size: 54px;
  font-weight: bold;
  margin-left: 50%; /* Отступ слева для начала с середины */
}

.consultation-description {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  margin-left: 50%; /* Отступ слева для начала с середины */
}

.consultation-block button {
  margin-left: 50%; /* Смещает кнопку к середине элемента */
  margin-top: 20px;
  font-size: 16px; /* Размер шрифта текста кнопки */
  background-color: #ff5a00; /* Оранжевый фон кнопки */
  color: white; /* Белый текст на кнопке */
  border: none; /* Убираем рамку кнопки */
  padding: 10px 20px; /* Паддинг вокруг текста на кнопке */
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  outline: none; /* Убираем обводку при фокусе (для доступности можно оставить) */
}

.consultation-block button:hover {
  background-color: #e65a00; /* Немного темнее оттенок при наведении */
}

.consultation-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transform: rotate(55deg); /* Поворот на 55 градусов */
  transform-origin: center; /* Центр вращения */
  z-index: -1;
}

.quiz-section {
  border-radius: 20px; /* Закругление углов блока */
  margin: 20px; /* Добавляем некоторый внешний отступ */
  background-color: #000;
}

.quiz-question {
  flex: 1;
}

.quiz-question h2 {
  font-size: 30px;
  text-align: left;
  color: #fff;
  left: calc(50% - 477px / 2 + 188.5px);
}

.quiz-container {
  position: relative;
  background: url("../assets/images/bg-elements.png") no-repeat center center /
    cover;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  min-height: 50vh;
  max-height: 600px;
  overflow: hidden;
}

.quiz-intro {
  position: relative;
  flex: 1;
  align-self: flex-start;
  padding-top: 5%;
  width: 100%; /* Ensure it takes full width for positioning */
}

.quiz-intro h1 {
  color: white;
  font-size: 54px;
}

.quiz-intro p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.start-button {
  position: absolute;
  bottom: -70px; /* Adjust as needed for spacing */
  right: -80px; /* Adjust as needed for spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 146px;
  color: white;
  background-color: #000;
  border: 2px solid #ff5a00;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  z-index: 1;
}
.start-button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 156px;
  height: 156px;
  border: 2px solid #ff5a00;
  border-radius: 50%;
  z-index: -1;
}

.start-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  z-index: -1;
}

.start-button:hover {
  background-color: rgba(255, 90, 0, 0.5);
  color: white;
}

.start-arrow {
  position: absolute;
  width: 123px;
  height: 100px;
  bottom: -70px; /* Adjust to position arrow correctly */
  right: 100px; /* Adjust to position arrow correctly */
  z-index: 0;
}
.start-arrow img {
  width: 100%;
  height: auto;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .start-button {
    bottom: -60px;
    right: -70px;
  }
  .start-arrow {
    bottom: -60px;
    right: 90px;
  }
}

@media (max-width: 992px) {
  .start-button {
    bottom: -50px;
    right: -60px;
  }
  .start-arrow {
    bottom: -50px;
    right: 80px;
  }
}

@media (max-width: 768px) {
  .start-button {
    bottom: -40px;
    right: -50px;
  }
  .start-arrow {
    bottom: -40px;
    right: 70px;
  }
}

@media (max-width: 576px) {
  .start-button {
    bottom: -30px;
    right: -40px;
  }
  .start-arrow {
    bottom: -30px;
    right: 60px;
  }
}

@media (max-width: 480px) {
  .start-button {
    bottom: -20px;
    right: -30px;
    width: 120px; /* Adjust the size for smaller screens */
    height: 120px; /* Adjust the size for smaller screens */
  }
  .start-arrow {
    bottom: -20px;
    right: 50px;
    width: 100px; /* Adjust the size for smaller screens */
    height: 80px; /* Adjust the size for smaller screens */
  }
}

.speedometer-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 500px; /* Установите размеры подходящие под ваше изображение */
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.speedometer {
  width: 100%;
  height: auto; /* Сохраняем пропорции */
}

.needle {
  position: absolute;
  bottom: 40%; /* Slightly lower, adjust this value based on your speedometer's design */
  left: 50%; /* Centers the needle horizontally */
  width: 4px; /* Width of the needle */
  height: 40%; /* Height can remain the same unless you need other adjustments */
  background-color: #fff; /* Color of the needle */
  transform-origin: 50% 100%; /* Ensures rotation around the base of the needle */
  transform: rotate(-90deg); /* Starts at -90 degrees */
  transition: transform 1s ease-in-out; /* Smooth transition for rotation */
}




.quiz-content-container {
  position: relative; /* For relative positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  width: 100%; /* Full width */
  max-width: 600px; /* Maximum width */
  margin: 0;
}

.quiz-content {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width */
  padding: 20px;
  position: relative;
  min-height: 300px; /* Ensure there's enough height for positioning */
}

.quiz-progress {
  width: 100%;
  margin-bottom: 20px;
}

.quiz-progress span {
  color: #fff;
}

.progress-bar {
  width: 100%;
  height: 3px;
  background-color:#868686 !important;
  border-radius: 5px; /* Скругление краев */
  margin-top: 5px;
}

.progress-fill {
  background-color: #fff;
  height: 100%;
  width: 0%; /* Start with 0 width */
  transition: width 2s ease !important;
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Ширина контейнера ответов */
}

.answer-button {
  background-color: transparent; /* Прозрачный фон */
  color: #fff; /* Голубой цвет текста */
  border: 1px solid #6CFFFD; /* Голубая обводка */
  padding: 20px 20px; /* Увеличенный вертикальный паддинг и уменьшенный горизонтальный */
  margin: 5px;
  height: 60px; /* Увеличение высоты */
  flex: 1 1 45%; /* Меньшая ширина для каждой кнопки */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета */
}

.answer-button.active {
  background-color: #6CFFFD; /* Change the background to a different color */
  color: white; /* Change text color for better visibility */
}

/* Стили для не-сенсорных устройств */
@media (hover: hover) {
  .answer-button:hover {
    background: rgba(108, 255, 253, 0.19);
    color: white; /* Белый текст при наведении */
  }
}

/* Стили для сенсорных устройств */
@media (hover: none) {
  .answer-button:active {
    background: rgba(108, 255, 253, 0.19);
    color: white; /* Белый текст при касании */
  }
}

.next-button {
  position: absolute;
  right: -100px; /* Position it to the right */
  bottom: 25px; /* Position it to the bottom */
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-final-message {
  display: flex;
  flex-direction: column; /* Stack icon above text */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.final-icon {
  margin-bottom: 20px; /* Space between icon and text */
}

.final-icon img {
  width: 100%;
  height: auto;
}

.final-text {
  max-width: 600px; /* Ensure the text doesn't stretch too wide */
}

.final-text h2 {
  font-size: 40px;
  margin: 0 0 10px;
}
.final-text p {
  font-size: 16px;
  margin: 0 0 20px;
}

.ok-button {
  padding: 5px 30px;
  background-color: #FF5A00;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ok-button:hover {
  background-color: #e65a00;
}



.next-button:hover {
  background-color: #e65a00;
}

.hero h1 {
  font-size: 86px; /* Устанавливаем размер шрифта */
  color: #B3B3B3; /* Устанавливаем цвет текста */
}

.hero .form-select {
  color: gray !important; /* Set initial color to gray */
}

.hero .form-select:valid {
  color: white; /* Set color to white once an option is selected */
}

.form-select {
  width: 100%; /* Занимает полную ширину контейнера */
  padding: 0.8em 1em; /* Паддинг для внутренних элементов */
  font-size: 1rem; /* Размер шрифта */
  line-height: 1.25; /* Высота строки */
  color: white!important; /* Цвет текста */
  background-color: transparent !important; /* Прозрачный фон */
  background-clip: padding-box; /* Фон ограничивается рамкой */
  border: 1px solid #6CFFFD !important; /* Серая рамка */
  border-radius: 0.25rem; /* Скругление углов */
  appearance: none; /* Отключение стандартного вида */
}

.form-select:focus {
  color: #495057;
  background-color: transparent !important; /* Прозрачный фон */
  border-color: #80bdff; /* Голубая рамка при фокусе */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select-wrapper {
  position: relative;
  width: 100%; /* Adjust as needed */
}

.custom-select {
  background-color: #fff;
  border: 2px solid #ccc; /* Style similar to .form-select */
  cursor: pointer;
  position: relative;
}

.select-selected {
  padding: 8px 16px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.select-items div, .select-selected {
  padding: 8px 16pd;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-items {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  left: 0;
  border: 1px solid #6CFFFD;
  border-top: none;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

.select-hide {
  display: none;
}

.select-items{
  background-color: transparent!important; /* Прозрачный фон */
  border-color: #80bdff; /* Голубая рамка при фокусе */
  outline: 0;

}
.select-items img {
  width: 20px;
  height: auto;
}


/* Faq */
.faq-header {
  padding-right: 20px; /* Add some padding to the right of the header */
  color: #000;
  margin-bottom: 10px;
}

.faq-header h2 {
  font-size: 54px;
}

faq-header h2 {
  font-size: 16px;
}

.faq-container {
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  min-height: 50vh; /* Уменьшение высоты блока */
  max-height: 600px; /* Максимальная высота, чтобы блок не был слишком высоким */
}

.faq-container h2 {
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.faq-container p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.accordion-button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff !important; /* Изначально белый текст */
  background-color: #141414 !important; /* Изначально темный фон */
  border: none;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.accordion-button.collapsed {
  background-color: #141414 !important; /* Темный фон для свернутых кнопок */
  color: #fff !important; /* Белый текст для свернутых кнопок */
}

.accordion-button:not(.collapsed) {
  background-color: #141414 !important; /* Темный фон для открытых кнопок */
  color: #fff !important; /* Белый текст для открытых кнопок */
}

.accordion-button:not(.collapsed)::after {
transform: none !important;
}

.accordion-button::after {
  content: "+" !important; /* Плюс по умолчанию */
  background-image: none !important;
  right: 20px;
  top: 50%; /* Центрирование по вертикали */
  font-size: 1.5rem;
  color: #fff !important; /* Белый цвет для иконки */
  transition: transform 0.3s ease;
  flex-shrink: 0 !important;
  height: auto !important;
  margin-left: auto !important;
  background-size: 0 !important;
}

.accordion-button:not(.collapsed)::after {
  content: "-" !important; /* Минус, когда секция раскрыта */
  color: #fff !important; /* Белый цвет для иконки при открытом состоянии */
}

/* Убираем выделение вокруг кнопки аккордеона при фокусе */
.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important; /* Убираем обводку */
  outline: 0 !important;
  box-shadow: none !important; /* Убираем тень */
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-body {
  font-size: 0.9rem;
  line-height: 1.6;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important; /* Убираем обводку */
  outline: 0 !important;
  box-shadow: none !important; /* Убираем тень */
}


/* Faq */
/* carousel */

/* carousel */
.carousel-item {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.carousel-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.carousel-item .ytp-cued-thumbnail-overlay-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover; /* Ensures the image covers the whole area */
}

.video-carousel-container {
  background-color: #141414;
  color: white;
  padding: 20px;
}

.video-carousel-header h2 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.video-carousel-header .highlight {
  color: #D3D3D3;
}

.video-carousel-header .trusted, 
.video-carousel-header .car-buying, 
.video-carousel-header .partner {
  color: #FFFFFF;
}

.video-carousel-header .description {
  color: orange;
  margin-top: 20px;
  font-size: 18px;
}

.carousel-inner-wrapper {
  border: 2px solid;
  border-image: linear-gradient(to right, #D3D3D3, #141414) 1;
  border-radius: 10px; /* Добавьте это для скругления углов */
  overflow: hidden; /* Добавьте это, чтобы обрезать содержимое внутри скругленных углов */
}

.carousel-inner {
  height: 500px; /* Increase the height of the video block */
}

.carousel-inner iframe {
  height: 100%; /* Ensure the iframe takes up the full height */
}

.carousel-control-prev,
.carousel-control-next {
  display: none; /* Hide default Bootstrap arrows */
}

.video-carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.video-carousel-controls .btn-prev,
.video-carousel-controls .btn-next {
  background-color: transparent;
  border: none;
  color: orange;
  font-size: 2rem;
  cursor: pointer;
}

#video-index {
  font-size: 1rem;
  color: white;
  margin: 0 10px;
}
/* carousel */


/* carousel */


/* Inst */

.instagram-section {
  background-color: #fff;
  padding: 20px 0;
  text-align: left;
}

.instagram-section .container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

.instagram-posts {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scroll-behavior: smooth; /* Добавляем плавность прокрутки */
}

.instagram-post {
  flex: 0 0 auto;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-post img {
  width: 100%;
  height: auto;
  display: block;
  user-drag: none; /* Prevent dragging */
  user-select: none; /* Prevent text selection */
}

/* Убираем полосу прокрутки для разных браузеров */
.instagram-posts {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.instagram-posts::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


/* Inst */

/* Form2 */
.split-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Full width */
}

.split-container {
  background-image: url('../assets/images/contact-section-back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px; /* Set the size of the background image */

}

.contact-section,
.form-section {
  flex: 1; /* Equal width for both sections */
  padding: 20px;
  display: flex;
  align-items: flex-start; /* Align content to the start (left) */
}

.contact-section {
  background-color: #F8F9FA;
  display: flex;
  justify-content: flex-start; /* Align the contact-wrapper to the left */
  align-items: center; /* Center the contact-wrapper vertically */
}


.contact-wrapper {
  width: 75%; /* Reduced width for the contact wrapper */
  padding: 40px; /* Increased padding */
  text-align: left; /* Align text to the left */
  margin-left: 0; /* Ensure the wrapper starts from the left */
}

.contact-section p {
  text-align: left !important;
}



.form-section {
  background-color: #FFFFFF;
  padding: 20px; /* General padding */
  display: flex;
  justify-content: center; /* Center the form-wrapper */
  align-items: center; /* Center the form-wrapper */
}

.form-wrapper {
  width: 75%; /* Reduced width for the form wrapper */
  padding: 40px; /* Increased padding */
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-section h2 {
  font-size: 54px;
}

.contact-section h2, p {
  width: 100%; /* Full width for headers */
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Smaller font size for buttons */
}

.telegram-button,
.whatsapp-button {
  width: 200px; /* Fixed width for buttons */
  margin: 10px 0; /* Add vertical margin for spacing */
  padding: 10px 20px;
  font-size: 14px; /* Adjust font size */
  display: block; /* Ensure buttons are block elements to stack them */
}

.telegram-button {
  background-color: #0088cc;
  color: white;
}

.whatsapp-button {
  background-color: #25D366;
  color: white;
}

form {
  width: 100%; /* Full width for the form */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements */
}

input[type="text"], input[type="tel"], select {
  width: 100%; /* Full width for input fields */
  padding: 8px; /* Reduced padding */
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 10px;
  background-color: #000;
}

button[type="submit"] {
  width: 100%; /* Full width for the submit button */
  background-color: #FF5A00;
  color: white;
}


/* Form2 */

/* Map */
.map-container {
  flex: 1; /* Позволяет контейнеру карты расти */
  width: 100%; /* Занимает всю ширину */
  display: flex;
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  margin: 20px 0; /* Отступ сверху и снизу */
}

.map-responsive {
  width: 100%; /* Занимает всю ширину контейнера */
  height: 50vh; /* Ограничивает высоту до трети высоты экрана */
  position: relative;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  border: 0; /* Убирает рамку */
}

/* Map */

/* Footer */

.footer {
  background-color: #141414;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .container-fluid {
  height: 100%;
}

.footer .row {
  width: 100%;
}

.footer-logo-column {
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
}

.footer-logo {
  margin-bottom: 20px;
  max-width: 150px; /* Adjust the logo size as needed */
}

.footer-columns {
  display: flex;
  justify-content: flex-end;
}

.footer-column {
  display: flex;
  flex-direction: column;
  max-width: 180px; /* Reduce column width */
}

.footer h5 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.newsletter-form {
  display: flex;
  flex-direction: column; /* Align elements in a column */
  width: 100%;
  max-width: 500px; /* Limit the maximum width */
  padding-left: 15px;
}

.newsletter-form label {
  margin-bottom: 10px; /* Add margin below the label */
  font-size: 16px; /* Adjust the font size */
}

.newsletter-form .form-group {
  display: flex;
  align-items: center;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
  font-size: 14px;
  flex: 1; /* Allow the input to take available space */
  margin-bottom: 0; /* Remove margin below the input */
}

.newsletter-form button {
  background-color: #ff5a00;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0; /* Remove margin below the button */
}

.newsletter-form button:hover {
  background-color: #e64a00;
}

.footer-stripe {
  height: 2px;
  background: linear-gradient(to right, transparent, #fff, transparent);
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; /* Add padding below the content */
  margin-top: 10px; /* Add margin top for the bottom text */
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-subscription {
  margin-bottom: 20px; /* Add margin bottom for the subscription row */
}


/* Footer */
