/* Основные стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #000; /* Черный фон для подчеркивания элементов */
}

a {
    color: white;
    text-decoration: none;
}


/* Стилизация навигационной панели */
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #141414; /* Adjust the color as needed */
    height: 80px; /* Set a specific height */
}

.navbar::before, .navbar::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px; /* Height of the fading stripe */
    background: linear-gradient(to left, transparent, #333 50%, transparent);
    z-index: 1;
}

.navbar::before {
    top: 0;
}

.navbar::after {
    bottom: 0; /* Should align to the bottom of the navbar */
}


.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 0 15px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.contact-number {
    color: orange;
    font-weight: bold;
}

/* Геройский баннер */
.hero {
    padding: 0;
    display: flex;
    justify-content: space-between; /* Align sub-blocks side by side */
    align-items: center; /* Center the content vertically */
    background: url('../assets/images/background.png') no-repeat center center/cover;
    text-align: left; /* Align text to the left for the left content */
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

.content-left {
    flex: 1; /* Flex-grow to take necessary space */
    max-width: 600px; /* Optional: limit width of the left content */
    position: relative; /* Добавляем, чтобы позиционировать кнопку внутри блока */
}

.btn {
    background-color: orange;
    color: black;
    border: none;
    padding: 15px 30px; /* Увеличиваем padding для круглой формы */
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%; /* Делаем кнопку круглой */
    text-transform: uppercase;
    position: absolute; /* Абсолютное позиционирование внутри .content-left */
    right: 20px; /* Отступ справа */
    bottom: 20px; /* Отступ снизу */
}

/* Стилизация контактной формы */
.contact-form {
    width: 100%;
    max-width: none; /* Adjust width as necessary */
    flex: 1; /* Flex-grow to take necessary space */
    margin-left: 20px; /* Spacing between the form and the content */
    position: relative; /* Adjust positioning context */
    top: 0; /* Reset positioning */
    right: 0; /* Reset positioning */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #141414;
    border-radius: 10px;
}


.form-tabs .tab-btn {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-tabs .tab-btn.active {
    background-color: orange;
    color: black;
}

.form-content {
    display: none; /* Скрыть форму по умолчанию */
}

.form-content input, .form-content select, .form-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.form-content .submit-btn {
    width: 100%;
    background-color: orange;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Подвал с социальными ссылками */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

.social-links svg {
    fill: white; /* Установите цвет заливки иконок */
    transition: fill 0.3s; /* Плавный переход цвета при наведении */
}

.social-links a:hover svg {
    fill: orange; /* Цвет при наведении */
}

/* Улучшенные стили для контактной формы */
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form select,
.contact-form textarea {
    background: #333; /* Темный фон для полей ввода */
    color: white; /* Белый текст */
    border: 1px solid #444; /* Немного контраста */
    box-shadow: none; /* Убрать тени */
}
.premium-section {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

.premium-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 45%;
    margin-bottom: 20px;
}

.higher {
    margin-top: 50px;
}

.feature {
    display: flex; /* Используем flex для горизонтального расположения */
    align-items: center; /* Центрирование элементов по вертикали */
    margin: 10px;
    text-align: left;
}

.feature img {
    width: 100px;
    height: 100px;
    margin-right: 20px; /* Отступ между изображением и текстом */
    border-radius: 50%;
}

.feature-text {
    flex-grow: 1;
}

.feature h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.feature p {
    font-size: 14px;
}

.advantages-section {
    display: flex;
    align-items: flex-start;
    padding: 50px;
    background-color: #f5f5f5;
    max-width: 1200px;
    margin: auto;
}

.advantage-title {
    color: #000;
}

.advantage-description{
    color: #000;
}
.advantage-list li {
    font-size: 18px; /* Установите желаемый размер шрифта для текста списка */
    color: #333; /* Цвет текста списка */
    /* ...другие стили... */
}

.advantage-number {
    font-weight: bold; /* Делает шрифт жирным */
    font-size: 22px; /* Устанавливает размер шрифта для чисел больше, чем у остального текста */
}

.left-block {
    width: 50%;
    padding-right: 50px;
}

.right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    flex-grow: 1;
}

.tile-long {
    flex-basis: calc(66% - 20px);
    background-size: cover;
    background-position: center;
}

.tile-square {
    flex-basis: calc(33% - 20px);
    background-size: cover;
    background-position: center;
}

.left-block {
    width: 50%;
    padding-right: 50px;
}

.right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    flex-grow: 1;
}

.tile-long {
    flex-basis: calc(50% - 20px);
    background-size: cover;
    background-position: center;
}

.tile-square {
    flex-basis: calc(33% - 20px);
    background-size: cover;
    background-position: center;
}

.tile-title {
    font-size: 18px; /* Меньший размер для заголовка */
    margin: 0;
    padding-top: 10px; /* Добавляем небольшой отступ сверху */
    color: #ffff;
}

.tile-text {
    font-size: 14px; /* Меньший размер для текста */
    margin: 0;
    align-self: center;
    padding-bottom: 10px; /* Добавляем небольшой отступ снизу */
    color: #ffff;
}
